# Editors
*.swp
.*.swp
*~

# Repo
SECURITY.md
CODE_OF_CONDUCT.md
LICENSE
.gitignore
.git
.github
.travis.yml
.editorconfig

# NPM/Yarn stuff
node_modules/
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker is only for dev
Dockerfile
docker-compose.yml

# Development, test and build assets
coverage
doc
webpack.config.js
jsdoc.json
src/**
example/**
**/.eslint*
.prettierrc
